#games

  #player1
    .name= best_in_place @game.player, :name
    .score= @game.high_score

  %table
    %thead
      %tr
        %th Player
        %th Score
        %th Date
        %th Duration

    %tbody
      = render @games
