#games

  %ul#slots{:data => { :"games-path" => games_path, :"pull-time" => 1.seconds } }
    - 4.times do |slot|
      = render "slot", :slot => slot+1
    %li.no_games
      C'mon, start a new game!

  -# http://jqueryui.com/demos/tabs/#default
  #scores
    %ul
      %li
        = link_to "Daily HighScore", games_path(:filter => 'daily'), :title => "highscores"
      %li
        = link_to "Alltime HighScore", games_path(:filter => 'alltime'), :title => "highscores"
      %li
        = link_to "Top Players", games_path(:filter => 'player'), :title => "highscores"

    %table
      %thead
        %tr
          %th.name Player
          %th.score Score
          %th.date Date
          %th.duration Duration

      %tbody#highscores

      %tfoot{:style => "display: none"}
        %tr
          %td.name
          %td.score
          %td.date
          %td.duration
