// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dotW: 512;
$dotH: 393;
$dotWidth: 7 * 7;
$dotHeight: 7 * 7;
$dotOffX: 10;
$dotOffY: 14.2;
$dotScale: 1;
$pageWidth: 8 * $dotWidth * $dotScale;

@mixin dot_pos($x, $y, $scale) {
  background-position: -#{$scale * ($dotOffX + $x * $dotWidth)}px -#{$scale * ($dotOffY + $y * ($dotOffY + $dotHeight))}px;
}

@mixin slot($scale) {
  // border: 1px solid green;
  display: inline-block;
  text-align: left;
  padding: 5px;

  .player {
    .name {
      font-size: #{$scale * 25}px;
      color: #EEE;
      float: left; }

    .slot-number {
      font-size: #{$scale * 15}px;
      color: #EEE; } }

  .game {
    margin-top: #{$scale * 15}px;

    .score {
      display: none;
      font-size: #{$scale * 25}px;
      color: #EEE; }

    .digits {
      clear: left;
      span {
        // border: 1px solid red;
        width: #{$scale * $dotWidth}px;
        height: #{$scale * $dotHeight}px;
        text-decoration: none;
        display: block;
        float: left;
        background: asset-url("dot.jpeg", image) 0 0;
        background-size: #{$scale * $dotW}px #{$scale * $dotH}px;
        margin: 1px;
        &.i1, &.i4 {
          margin-right: #{$scale * 10}px; }
        &.d1 {
          @include dot_pos(0, 4, $scale); }
        &.d2 {
          @include dot_pos(1, 4, $scale); }
        &.d3 {
          @include dot_pos(2, 4, $scale); }
        &.d4 {
          @include dot_pos(3, 4, $scale); }
        &.d5 {
          @include dot_pos(4, 4, $scale); }
        &.d6 {
          @include dot_pos(0, 5, $scale); }
        &.d7 {
          @include dot_pos(1, 5, $scale); }
        &.d8 {
          @include dot_pos(2, 5, $scale); }
        &.d9 {
          @include dot_pos(3, 5, $scale); }
        &.d0 {
          @include dot_pos(4, 5, $scale); }
      }
    }
  }
}

@mixin tabs {
  width: 800px;
  padding: 0px;
  background: none;
  border-width: 0px;
  margin: #{$dotScale * 20}px auto;

  .ui-tabs-nav {
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; }
}

#games {
  ul, li {
    padding: 0;
    list-style-type: none;
  }

  #slots {
    // border: 1px solid red;
    // padding: #{$dotScale * 5}px;
    text-align: center;
    border: 1px solid #222;
    padding: 0;
    width: #{800}px;
    height: #{180 + $dotScale * $dotHeight}px;
    margin: 50px auto;

    .slot {
      margin: 170px 0px 0px 0px;
      @include slot(0.6); }

    .slot.current {
      margin: 0 -305px;
      left: 50%;
      position: absolute;
      @include slot(1.5); }

    .no_games {
      color: #333;
      font-size: 45px;
      margin-top: 45px;
    }

    .slot, .no_games {
      &.hidden {
        display: none; }
    }
  }

  #scores {
    @include tabs;

    li {
      float: left;
      width: 200px;
      text-align: center;
    }

    table {
      //border: 1px solid red;
      thead {
        background-color: #003147;
      }

      tbody {
        height: 500px;
        overflow: auto; }

      th, td {
        padding: 3px 10px;
        width: 25%;

        &.name {
          width: 300px;
          font-weight: bold; }
        &.score {
          width: 200px;
          font-weight: bold; }
        &.date {
          width: 165px; }
        &.duration {
          width: 85px; }

        }

      td.score {
        color: green;
        text-align: right;
        padding-right: 40px; }

      thead > tr, tbody {
        width: 100%;
        display:block; } }
  }
}
